---
import {Image} from "astro:assets"

import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import AnchorcardList from "../components/AnchorcardList.astro";
import Breadcrumb from "../components/Breadcrumb.astro";

const anchors = await getCollection("anchors");

const {
    title="Trahan Iris Anchor Shops Unit for Resale"
} = Astro.props

---

<Layout title={title}>
    <Breadcrumb title={title} />
    <div class="bg-[#3F2E28] lg:py-16">
    <AnchorcardList anchors={anchors} />
    </div>
</Layout>