---
import Layout from "../layouts/Layout.astro";
import Shoplist from "../components/Shoplist.astro";
import { getCollection } from "astro:content";
import Menu from "../components/Menu.astro";
import Slider from "../components/Slider.astro";
import About from "../components/About.astro";
import MiniSlider from "../components/MiniSlider.astro";
import Overview from "../components/Overview.astro";
import Form from "../components/Form.astro";
import InvestmentOptions from "../components/InvestmentOptions.astro";
import MainHeading from "../components/MainHeading.astro";
import ProjectHighlight from "../components/ProjectHighlight.astro";
import Amenities from "../components/Amenities.astro";
import Brochure from "../components/Brochure.astro";
import Location from "../components/Location.astro";
import Keypoints from "../components/Keypoints.astro";


const shops = await getCollection("shops");


const {
	title="Trehan Iris Broadway Greno West"
} = Astro.props
---

<Layout title={title}>
	<Slider />
	<Menu />
	<div class="flex">
		<Keypoints>
		<MiniSlider />
	</div>
	<div class="grid lg:grid-cols-3 gap-16 lg:mx-10 p-8 my-8">
		<div class="col-span-2">
			<Overview />
		</div>
		<div class="mr-8">
			<Form />
		</div>
	</div>
	<InvestmentOptions />
	<div class="shop mx-8 lg:mx-16 py-24">
		<MainHeading heading="Resale Units in Trehan Iris Broadway Greno West"/>
		<div class="lg:flex justify-center" id="units">
			<Shoplist shops={shops} />
		</div>
		<ProjectHighlight />
		<Amenities />
	</div>
	<Brochure />
	<Location />
	<About />
</Layout>
