---
import {Image} from "astro:assets"

import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import OfficecardList from "../components/OfficecardList.astro";
import Breadcrumb from "../components/Breadcrumb.astro";

const {
    title="Trehan Iris Broadway Noida offices for sale"
} =Astro.props

const offices = await getCollection("offices");

---

<Layout title={title}>
    <Breadcrumb title={title} />
    <div class="bg-[#3F2E28] lg:py-16 py-8">
    <OfficecardList office={offices} />
</div>
</Layout>