---
import {Image} from "astro:assets"

import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ShopcardList from "../components/ShopcardList.astro";
import Breadcrumb from "../components/Breadcrumb.astro";


const {
    title ="Trehan Iris Broadway Noida Shops for sale"
} = Astro.props

const shops = await getCollection("shops");
---

<Layout title={title}>
    <Breadcrumb title={title} />
    <div class="bg-[#3F2E28] lg:py-16 py-8">
        <ShopcardList shops={shops} />
    </div>

</Layout>