---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import { Icon } from 'astro-icon/components'


const {
    title="Thank You!"
} = Astro.props
---

<Layout>
    <Breadcrumb title={title} />
    <div class="text-center py-16">
        <h2 class="lg:text-3xl">Thanks for contacting us.
            We will get back to you shortly!</h2>
            <div class="bg-black text-yellow-200 inline-block px-5 mt-5 py-3">
                <a href="/">Back To Home</a>
                <!-- <Icon name="mdi:arrow-back" />
        <style>
            [data-icon] {
                font-size: 1.2rem;
                color: #fff;
            }
            </style> -->
            </div>
    </div>
</Layout>