---
import {Image} from "astro:assets"
---

<div class="lg:py-16 lg:px-24 p-8" id="about">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
        <div>
            <h2 class="lg:text-4xl font-bold">About Trehan</h2>
            <hr class="w-100 border-b-4 border-[#E4B300] mb-3 my-3">
            <p class="text-xl">Trehan Group, is a third generation builders and all a well reputed builder in Delhi-NCR region. They're known for building projects which are part of national legacy such as Tihar Jail, Sanchar Bhavan, Parliament House, and Supreme Court. In recent times, they've successfully Developed and Delivered multiple Commercial and Residential Projects in Delhi-NCR, such as Trehan IRIS Broadway Sec-85 in Gurugram, Trehan Luxury Floors in Sec-35 Gurugram, IRIS Techpark, IRIS Cyber Tower, IRIS Gomati, IRIS AAVAAS and a lot more projects. <br> <br> They have their own team of construction workers and equipment making a project cost-effective. They are also well experienced in Leasing based Mall Operations, ensuring consistent flow of rental income.</p>
        </div>
        <div>
            <Image src="/img/trehan-iris-broadway-greno-west.webp" alt="" width={600} height={300} />
        </div>
    </div>
</div>