---
const {image} = Astro.props
const {cardtext} = Astro.props
---

<div class="px-6 py-8 content-center">
    <div class="p-8 bg-slate-200 rounded-xl" style="text-align: -webkit-center;">
        <img src={image} alt="" width="100px">
    </div>
    <p class="text-sm text-center font-bold mt-2">{cardtext}</p>
</div>