---
import MainHeading from "./MainHeading.astro";
import AmenitiesCard from "./AmenitiesCard.astro";
---

<div class="" id="amenities">
    <MainHeading heading="Features and Amenities" />

    <div class="grid grid-cols-1 lg:grid-cols-5 place-items-center">
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/parking-area.webp"} cardtext={"Parking"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/cafeteria-1.webp"} cardtext={"Food-Court"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/restaurant.webp"} cardtext={"Fine-Dining Restaurant"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/icons8-office-100.webp"} cardtext={"Office Space"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/cctv-camera.webp"} cardtext={"Camera and Security"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/movies.webp"} cardtext={"Entertainment Zones"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/air-conditioner.webp"} cardtext={"Full Air-conditioned"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/food.webp"} cardtext={"JW Marriot Courtyard Hotel"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/loading-bar.webp"} cardtext={"Loading - 50%"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/layout-design.webp"} cardtext={"0.75 acres Atrium"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/emergency.webp"} cardtext={"Refugee Area Every Forth Floor"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/elevator.webp"} cardtext={"High-Speed Elevators"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/pool.webp"} cardtext={"Infinity Pool @ JW Marriot"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/cinema.webp"} cardtext={"Multiplex"} />
        </div>
        <div class="w-60 gap-2">
            <AmenitiesCard image={"/img/icon/road-with-broken-line.webp"} cardtext={"130 m Wide Main Road"} />
        </div>
    </div>
</div>
