---
const {title} = Astro.props
---


<div class="bg-[url('/img/trehan-iris-broadway-greno-west.webp')] bg-cover bg-center bg-blend-overlay bg-black bg-opacity-60 py-24">
    <div class="bg-black py-5 mx-60 bg-opacity-60">
        <h1 class="text-4xl text-center font-bold text-white">{title}</h1>
    </div>
</div>