<div class="py-16 px-40 bg-[url('./img/trehan-iris-broadwat-greno-west.webp')] bg-cover bg-center bg-blend-overlay bg-black bg-opacity-70 grid grid-cols-2 gap-4">
    <div class="">
        <h2 class="text-6xl text-white font-bold">Download Brochure</h2>
        <hr class="text-white my-5"> 
        <p class="text-white text-xl">Download the Brochure for Trehan IRIS Broadway Greno-West. Look at the Floor Plans, Master Plan, Payment Plans, and Other Details in the Brouchure.</p>
    </div>
    <div class="self-center flex justify-center">
        <button class="bg-[#E4B300] py-5 px-10 text-3xl font-bold rounded-lg">Download Brochure</button>
    </div>
</div>