---
const { byowner, contactno } = Astro.props;
import { Icon } from 'astro-icon/components'

---

<div class="px-3 grid grid-cols-2">
    <div class="flex gap-2 items-center">
        <Icon name="mdi:account" />
        <style>
            [data-icon] {
                font-size: 1.2rem;
                color: #fff;
            }
            </style>
        <p class="text-white">
            <strong>By owner: <br>{byowner}</strong>
            
        </p>
    </div>
    <div class="flex gap-2 items-center bg-green-600 pl-5 lg:pl-10 rounded-lg">
        <Icon name="mdi:phone" />
        <style>
            [data-icon] {
                font-size: 1.2rem;
                color: ;
            }
            </style>
        <p class="text-yellow-200">
            <a href="tel:+918375924100">
                <strong>Contact No: <br> {contactno}</strong>
            </a>
            
        </p>
    </div>
</div>
