---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Food from "./Food.astro";

type Props = {
    foods: CollectionEntry<"foodcourts">[];
};

const { foods } = Astro.props;
---

<div class="flex flex-wrap justify-center">
    {foods.map((food) => <Food food={food} />)}
</div>
