---
const {cardheading} = Astro.props
const {cardtext} = Astro.props
---

<div class="bg-[#FFE24D] px-6 py-8 h-[220px] content-center">
    <h2 class="text-2xl text-center font-bold">{cardheading}</h2>
    <p class="text-sm text-center">{cardtext}</p>
</div>