<div class="bg-[#E4B300] py-8 px-4 lg:py-16 lg:px-16" id="investment-options">
    <div class="flex flex-wrap justify-center">
        <div class="bg-black p-4 w-60 lg:w-72 mb-3 lg:mb-3 mx-3">
            <h2 class="text-3xl text-white text-center">Retail Shops</h2>
            <div class="img">
                <div class="bg-[url('./img/trehan-iris-broadway-shop-for-sale.webp')] w-78 h-48 rounded-3xl my-3 bg-cover bg-center"></div>
            </div>
            <ul class="text-white text-sm">
                <li>12% Assured Return until Possession</li>
                <li>Fresh and Resale Units Available</li>
                <li>Lower Ground, First, and Second Floor</li>
                <li>On Lease Only</li>
            </ul>
            <button class="bg-[#E4B300] text-black font-bold py-2 w-full rounded-full my-4">Enquire Now </button>
        </div>
        <div class="bg-black p-4 w-60 lg:w-72 mb-3 lg:mb-3 mx-3">
            <h2 class="text-3xl text-white text-center">Anchor Shops</h2>
            <div class="img">
                <div class="bg-[url('./img/trehan-iris-broadway-anchor-shops.webp')] w-78 h-48 rounded-3xl my-3 bg-cover bg-center"></div>
            </div>
            <ul class="text-white text-sm">
                <li>12% Assured Return until Possession</li>
                <li>Fresh and Resale Units Available</li>
                <li>Lower Ground, First, and Second Floor</li>
                <li>On Lease Only</li>
            </ul>
            <button class="bg-[#E4B300] text-black font-bold py-2 w-full rounded-full my-4">Enquire Now </button>
        </div>
        <div class="bg-black p-4 w-60 lg:w-72 mb-3 lg:mb-3 mx-3">
            <h2 class="text-3xl text-white text-center">Foodcourts</h2>
            <div class="img">
                <div class="bg-[url('./img/trehan-iris-resale-foodcourts.webp')] w-78 h-48 rounded-3xl my-3 bg-cover bg-center"></div>
            </div>
            <ul class="text-white text-sm">
                <li>On Lease Only</li>
                <li>Third Floor</li>
                <li>Loading - 53%</li>
                <li>12% Assured Return until Possession</li>
            </ul>
            <button class="bg-[#E4B300] text-black font-bold py-2 w-full rounded-full my-4">Enquire Now </button>
        </div>
        <div class="bg-black p-4 w-60 lg:w-72 mb-3 lg:mb-3 mx-3">
            <h2 class="text-3xl text-white text-center">Office Spaces</h2>
            <div class="img">
                <div class="bg-[url('./img/trehan-iris-resale-offices.webp')] w-78 h-48 rounded-3xl my-3 bg-cover bg-center"></div>
            </div>
            <ul class="text-white text-sm">
                <li>Self Use Only</li>
                <li>Fresh and Resale Units Available</li>
                <li>Omega Tower - 7th to 13th <br>Floor</li>
            </ul>
            <button class="bg-[#E4B300] text-black font-bold py-2 w-full rounded-full my-4">Enquire Now </button>
        </div>
    </div>
</div>