<div class="lg:mx-16 lg:my-8">
    <div class="col-2 lg:w-[700px]">
        <div class="bg-slate-300 py-4 px-4">
            <div class="border-l-4 border-orange-500 px-4">
                <strong>Possession Date:</strong> June, 2026
            </div>
        </div>
        <div class="bg-slate-300 py-4 px-4">
            <div class="border-l-4 border-orange-500 px-4">
                <strong>Construction Status:</strong> Under Construction
            </div>
        </div>
        <div class="bg-slate-300 py-4 px-4">
            <div class="border-l-4 border-orange-500 px-4">
                <strong>Location:</strong> Sector Ecotech - 12, Roza Yakubpur, Greater Noida, Uttar Pradesh, 201306
            </div>
        </div>	
    </div>
</div>