---
import MainHeading from "./MainHeading.astro";
---

<div class="lg:py-16 lg:px-24 p-8 bg-gray-200" id="location">
    <MainHeading heading={"Location Map"} />
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
        <div>
            <h2 class="lg:text-2xl text-xl font-bold">Nearby Facilities</h2>
            <p class="text-[17px]">
                Trehan Iris Broadway Greno West project is situated in EcoTech
                12, in Greater Noida West. Project is on 130 meter road that
                connects Noida to Greater Noida via Gaur City. The locaation of
                the project is prime as it is three side open, with 130 meter
                road in-front of the project and 24 meter road behind the
                project. The project has very high visibility and foot-fall at
                the project should be high as more than 60,000 dwelling units
                are in close vicinity. <br>
                To reach the project one has to come to
                Noida city center and should keep moving straight under the
                metro line. From sector 52 metro one can take underpass, go over
                parthala bridge and cross Hindon river. Hindon river is the
                boundary beween Noida and Greater-Noida. From here after
                crossing 3 round-abouts one can see the project on left side.
                This is next to "EK Murti chowk" <br>
                This location is the most
                premium location of Delhi - NCR because of the high population
                in this area and because of the connectivity of the Noida /
                Ghaziabad to Jewar Airport is through this location. One can
                expect one of the heighest foot-fall of Dleh NCR in this mall.
            </p>
        </div>
        <div>
            <iframe
                title="location map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7004.417769915344!2d77.415363!3d28.623501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefc8de059dc7%3A0xe70b82b920e6395e!2sTREHAN%20IRIS!5e0!3m2!1sen!2sus!4v1719574512257!5m2!1sen!2sus"
                width="100%"
                height="450"
                style="border: 2px solid #E4B300; border-radius: 10px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
