---
import Card from "../layouts/Layout.astro";


const {heading} = Astro.props;
---
<h2 class="lg:text-3xl text-2xl font-bold text-center">{heading}</h2>
<hr class="w-100 border-b-4 border-[#E4B300] mb-3 my-3">