---
import {Image} from "astro:assets"

const userEmail = Astro.cookies.get("userEmail")
---

<header
    class="flex justify-start items-center px-10 py-5 sticky top-0 max-sm:px-5 max-sm:py-3 justify-self-center w-full bg-black z-50"
>

    <ul class="flex lg:gap-4 gap-2 flex-wrap justify-center">
        <li>
            <a href="#overview" class ="text-white hover:underline font-bold max-sm:underline">Overview</a>
        </li>

        <li>
            <a href="#investment-options" class ="text-white hover:underline font-bold max-sm:underline">Investments</a>
        </li>
       
        <li>
            <a href="#units" class ="text-white hover:underline font-bold max-sm:underline">Availability</a>
        </li>

        <li>
            <a href="#highlights" class ="text-white hover:underline font-bold max-sm:underline">Highlights</a>
        </li>

        <li>
            <a href="#amenities" class ="text-white hover:underline font-bold max-sm:underline">Amenities</a>
        </li>

        <li>
            <a href="#brochure" class ="text-white hover:underline font-bold max-sm:underline">Brochure</a>
        </li>

        <li>
            <a href="#location" class ="text-white hover:underline font-bold max-sm:underline">Location</a>
        </li>

        <li>
            <a href="#about" class ="text-white hover:underline font-bold max-sm:underline">About</a>
        </li>
    </ul>

</header>