---

---

<form action="">
    <div class="form-group flex">
        <input
            type="tel"
            name="phone"
            placeholder="Enter your number"
            min="10"
            max="10"
            pattern="[0-9]{10}"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 block w-60 sm:text-sm focus:ring-1"
            required
        />
        <button class="bg-[#E4B300] px-4 text-sm">Quick Enquire</button>
    </div>
</form>