---
const {price} = Astro.props;

---

<div class="bg-white border-2 border-[#E4B300] flex absolute mt-[-50px]">
    <div class="bg-[#E4B300] p-3 font-bold">
        BSP Price:
    </div>
    <div class="amount p-3 font-bold">
        {price}
    </div>
</div>