---
import MainHeading from "./MainHeading.astro"
import HighlightCard from "./HighlightCard.astro"
---



<div class="py-10" id="highlights">

    <MainHeading heading="Project Highlights"/>
    <div class="grid grid-cols-1 lg:grid-cols-5 justify-center">
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"100% Paid-Up Land"}
        cardtext={"100% price of the land is already paid by the builder in advance."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"3.5 Acres Commercial Land"}
        cardtext={"This Project is being built of a 100% Commercial land."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"12% Assured Return"}
        cardtext={"12% Assured Return on all the shops except office space until possession."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"BENOY Architect & Design"}
        cardtext={"BENOY, known for Dubai Mall, Ferrari World Abu Dhabi, Beverly Mall USA"}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"Full-AC Central AC System"}
        cardtext={"The Complex is 100% packed and has central Air-conditioning."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"3rd Generation Builder"}
        cardtext={"100% price of the land is already paid by the builder in advance."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"JW Marriot Courtyard Tie-up"}
        cardtext={"Left Tower is tied up with JW Marriot with an infinity pool at terrace top"}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"50+ Brands Tie-up"}
        cardtext={"More than 50 Brands have tied up with this project."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"On-Lease Except Office Space"}
        cardtext={"Builder will have the leasing rights to the shops except office space."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"130 m Wide Main Road"}
        cardtext={"Mall is located on 130m wide Noida-Greater Noida Link Road."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"Metro Station In-front of the Mall"}
        cardtext={"Upcoming metro line will pass through Noida-Greater Noida Link Road."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"Jewar International Airport"}
        cardtext={"New Upcoming Jewar International Airport will be 60 mins away."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"3 Lakh Current Population"}
        cardtext={"Working and Residential Population within 5 Km radius of the project."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"8 Lakh Expected Population"}
        cardtext={"At the current growth rate, we're expecting 8 lakhs of total population."}
        />
        </div>
        <div class="w-60 gap-3 m-4">
            <HighlightCard 
        cardheading={"MIVAN Based Construction"}
        cardtext={"MIVAN is new technology in construction building earthquake resistant."}
        />
        </div>
        
    </div>

</div>