---
const { shop } = Astro.props;
---




<div class="bg-black p-4">
    <div class="resaletype">
        <div class="text-white text-sm font-bold p-2 flex gap-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                width="15px"
                height="15px"
                ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    fill="#e4b300"
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
                ></path>
            </svg>Type - {}
        </div>
        <div class="text-white text-sm font-bold p-2 flex gap-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                width="15px"
                height="15px"
                ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    fill="#e4b300"
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
                ></path>
            </svg>Brokerage - {}
        </div>
    </div>
</div>
