---
import type { CollectionEntry } from "astro:content";
import Shopcard from "./Shopcard.astro";

type Props = {
    shops: CollectionEntry<"shops">[];
};


const { shops } = Astro.props;
---

<div>
    {shops.map((shop) => <Shopcard shop={shop} />)}
</div>
