<div class="flex gap-x-4 items-center bg-[url('./img/trehan-iris-broadwat-greno-west.webp')] bg-cover bg-center h-screen">
    <div class="flex bg-black bg-opacity-50 mx-16 px-8">
        <div class="px-2 py-4 col-2 text-white">
            <h1 class="text-6xl font-bold">Iris Broadway
                <br>Greno West</h1>
            <p class="text-xl">Noida's Biggest Commercial Project Built on Legacy</p>
            <p class="text-2xl font-bold">UPRERAPRJ673874 | www.up-rera.in</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>