---
import { isPropertyAccessChain } from "typescript"

const {
    MainHead1 = "Trehan Iris Broadway",
    MainHead2 = "Greno West",

    SubHead1 = " Noida's Biggest Commerciap phenomenon",
    SubHead2 = "UPRERAPRJ673874"

} = Astro.props;


---


<div class="flex h-[500px] gap-x-4 items-center bg-[url('./img/trehan-iris-broadway-greno-west.webp')] bg-cover bg-bottom bg-opacity-30">
    <div class="flex bg-black bg-opacity-50 p-5 mx-8 lg:mx-16 lg:px-8">
        <div class="lg:px-2 lg:py-4 lg:col-2 text-white">
            <h1 class="lg:text-6xl text-3xl font-bold">{MainHead1}
                <br>{MainHead2}</h1>
            <p class="text-sm lg:text-xl">Noida's Biggest Commercial Project Built on Legacy</p>
            <p class="text-xl lg:text-2xl font-bold">UPRERAPRJ673874 | www.up-rera.in</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>