---
import { number, type string } from 'astro/zod';
import type { ShorthandPropertyAssignment } from 'typescript';

interface Props {
floor?: string;
category?: ["second"];
date?: Date;
featured?: boolean;
size?: number;
price?: number;
atrium?: boolean;
corner?: boolean;
status?: string;
image?: string;
title?: string
byowner?: boolean;
discount?: number;
brokerage?: boolean;
plc?:number;
name?: string;
contactno?: string;
giftvisit: string;
giftbuy: string ;
}

const { floor, category, date, featured, size, price, atrium,corner, status, image, title, byowner, discount, brokerage,plc, name, contactno, giftvisit, giftbuy } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class= "min-h-screen grid grid-rows-[auto,1fr,auto]" >
		
		<slot />
		

	</body>
</html>