---
import type { string } from 'astro/zod';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title = "Property for Sale ",
 description = " Property for Sale in Noida and Greater Noida ",
  image ="./Images/bluesky.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		
	</body>
</html>
